* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #e9e9e9;
  width: 1366px;
  height: 5797px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

.banner {
  width: 1366px;
  height: 670px;
  background-color: #f5f5f5;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1170px;
  margin: auto;
  padding-top: 38px;
  color: #191919;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  position: sticky;
  position: -webkit-sticky;
  top: -38px;
  z-index: 100;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  list-style: none;
}

ul li {
  padding: 5px 10px;
}

ul li a {
  text-decoration: none;
  color: inherit;
  line-height: 25px;
}

ul li a:hover {
  color: #10c9c3;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1170px;
  height: 607px;
  margin: auto;
}

.text {
  width: 479px;
}

.text h1 {
  color: #1d1d1d;
  font-size: 38px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.38px;
}

.text p {
  color: #787878;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.09px;
}

.button {
  background-color: #10c9c3;
  border: 2px solid #10c9c3;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  line-height: 58px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 12px;
  width: 180px;
  height: 54px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #ffffff;
  border: 2px solid #10c9c3;
  color: #10c9c3;
}

#about {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about article {
  width: 620px;
  height: 219px;
  margin: 100px 0px;
  text-align: center;
}

#skills {
  height: 570px;
}

#skills article {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress {
  width: 500px;
  height: 34px;
}

.progressbar {
  position: relative;
  width: 100%;
  height: 3px;
  background-image: url("/./assets/img/100bar.png");
}

.progressbar img {
  position: absolute;
}

#numbers {
  height: 240px;
  background-color: #10c9c3;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
  color: #ffffff;
}

.one article {
  padding-left: 20px;
}

.one article h4, .one article p {
  margin: 0;
}

#work {
  height: 699px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.more {
  width: 1366px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.example {
  width: 25%;
  height: 300px;
  background-color: #838383;
}

.offset {
  margin-left: 25%;
}

#process {
  height: 729px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#process article {
  width: 500px;
  height: 101px;
  text-align: center;
}

.wrapperforvideo {
  position: relative;
}

.playicon {
  width: 127px;
  height: 127px;
  position: absolute;
  top: calc(50% - 63px);
  left: calc(50% - 63px);
  background-image: url("/./assets/img/shadowplayicon.png");
}

video {
  width: 1170px;
  height: 571px;
  background-color: #e9e9e9;
}

#services {
  height: 535px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.eigth {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px;
  text-align: center;
}

.eigth h4, .eigth p {
  margin: 0;
}

.eigth h4 {
  text-transform: uppercase;
  padding: 30px 0px 20px 0px;
}

#testimonials {
  height: 500px;
  background-color: #10c9c3;
  overflow: hidden;
  position: relative;
}

.carussel-item-1, .carussel-item-2, .carussel-item-3 {
  position: absolute;
  display: block;
  top: 2em;
  width: 60%;
  font-size: 2em;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.carussel-item-1 {
  -webkit-animation-name: anim-1;
          animation-name: anim-1;
}

.carussel-item-2 {
  -webkit-animation-name: anim-2;
          animation-name: anim-2;
}

.carussel-item-3 {
  -webkit-animation-name: anim-3;
          animation-name: anim-3;
}

@-webkit-keyframes anim-1 {
  0%, 8.3% {
    left: -100%;
    opacity: 0;
  }
  8.3%, 25% {
    left: 25%;
    opacity: 1;
  }
  33.33%, 100% {
    left: 110%;
    opacity: 0;
  }
}

@keyframes anim-1 {
  0%, 8.3% {
    left: -100%;
    opacity: 0;
  }
  8.3%, 25% {
    left: 25%;
    opacity: 1;
  }
  33.33%, 100% {
    left: 110%;
    opacity: 0;
  }
}

@-webkit-keyframes anim-2 {}

@keyframes anim-2 {}0%, 33.33% {
  left: -100%;
  opacity: 0;
}

41.63%, 58.29% {
  left: 25%;
  opacity: 1;
}

66.66%, 100% {
  left: 110%;
  opacity: 0;
}

@-webkit-keyframes anim-3 {
  0%, 66.66% {
    left: -100%;
    opacity: 0;
  }
  74.96%, 91.62% {
    left: 25%;
    opacity: 1;
  }
  100% {
    left: 110%;
    opacity: 0;
  }
}

@keyframes anim-3 {
  0%, 66.66% {
    left: -100%;
    opacity: 0;
  }
  74.96%, 91.62% {
    left: 25%;
    opacity: 1;
  }
  100% {
    left: 110%;
    opacity: 0;
  }
}

#clients {
  height: 200px;
}

#contact {
  height: 751px;
}

footer {
  width: 1366px;
  height: 284px;
  background-color: #141414;
}
/*# sourceMappingURL=style.css.map */